
body {
    margin: 60px 0 0 0;
    padding: 0;
    width: 400px;
}

.timer {
    text-align: center;
    font-size: 30px;
    font-family: 'Coda Caption', sans-serif;
}

.page-header {
    margin: 10px 0 10px 0;

}

.btn {
    border: 1px solid white;

}
