<section ng-controller="TodoCtrl">
  <header>
    <ul class="nav nav-pills">
      <li class="active"><a ng-href="#">Today</a></li>
      <li><a ng-href="#">Inventory</a></li>
      <li><a ng-href="#">Archived</a></li>
    </ul>
  </header>

  <sction>
    <accordion close-others="oneAtATime">
      <accordion-group is-open="isopen" ng-repeat="task in tasks">
        <accordion-heading>
          {{task.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </accordion-heading>
        {{task.content}}
      </accordion-group>
    </accordion>
  </sction>

  <footer>
  </footer>
</section>
